.site-footer{
    padding-top: 200px;
}
    .site-footer ul.list-unstyled {
        padding-left: 0;
    }
    .site-footer li{
        margin-bottom: 15px;
    }
    .site-footer a {
        text-decoration: none;
        color: white;
    }
    .site-footer ul.d-flex li:not(:last-child)::after { 
        content: "|";
        margin-left: 10px;
        margin-right: 10px;
        color: white;
    }
    .site-footer.col-md-3.col-sm-12 {
        position: relative; /* Đảm bảo đường viền được hiển thị chính xác */
        text-align: center;
        height: 180px;
    }

    .site-footer .col-md-3.col-sm-12:not(:first-child) {
        border-left: 1px solid rgba(255, 255, 255, 0.8);
        padding-left: 15px; /* Thêm padding để tạo khoảng cách giữa nội dung và đường viền */
    }

    @media (max-width: 576px) {
        .site-footer {
            padding:20px;
    }

    .site-footer .col-md-8.col-md-4 {
            text-align: center;
    }
}

    @media (max-width: 856px) {
        .site-footer.d-flex {
            flex-direction: column;
            align-items: center;
        }

        .site-footer.col-md-3.col-sm-12 {
            height: auto;
            padding: 10px 0;
            text-align: center;
        }

        .site-footer.col-md-3.col-sm-12:not(:first-child) {
            border-left: none;
        }

        .site-footer ul.list-unstyled.d-flex {
            flex-direction:row;
            align-items: center;
        }

        .site-footer ul.list-unstyled.d-flex li {
            margin-bottom: 10px;
        }

        .site-footer ul.list-unstyled.d-flex li:not(:last-child)::after {
            content: "";
            margin: 0;
        }
        
        .site-footer .col-md-8, .col-md-4 {
            flex-direction: column;
            align-items: center;
        }

        .site-footer .col-md-8 img {
            margin-bottom: 15px;
        }

    }
