*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; 
  background-color: rgba(243, 240, 240, 0.7); 
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}
header a{
  color: rgb(10, 0, 0);
}
header a:hover{
  color: rgb(21, 21, 229);
  transform: scale(1.05);
}
html, body{
  background: #eaeaea;
  overflow-x: hidden;
  height: 100%;
}

.card {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.card p {
  margin-bottom: 10px;
}

html {
  scroll-behavior: smooth;
}

.breadcrumb {
  background-color: transparent;
  font-size: 16px;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Đảm bảo nội dung chiếm đủ chiều cao trang */
}

.content {
  flex-grow: 1; /* Tạo không gian cho phần nội dung mở rộng */
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

ul.list-unstyled {
  padding-left: 0;
}
li a{
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
}
ul.d-flex li:not(:last-child)::after { 
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.col-md-3.col-sm-12 {
  position: relative; 
  text-align: center;
  height: 180px;
}

.col-md-3.col-sm-12:not(:first-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  padding-left: 15px; 
}

@media (max-width: 576px) {
  footer {
      padding:20px;
}

  .col-md-8.col-md-4 {
      text-align: center;
}
}

@media (max-width: 856px) {
  .d-flex {
      flex-direction: column;
      align-items: center;
  }

  .col-md-3.col-sm-12 {
      height: auto;
      padding: 10px 0;
      text-align: center;
  }

  .col-md-3.col-sm-12:not(:first-child) {
      border-left: none;
  }

  ul.list-unstyled.d-flex {
      flex-direction:row;
      align-items: center;
  }

  ul.list-unstyled.d-flex li {
      margin-bottom: 10px;
  }

  ul.list-unstyled.d-flex li:not(:last-child)::after {
      content: "";
      margin: 0;
  }
  
  .col-md-8, .col-md-4 {
      flex-direction: column;
      align-items: center;
  }

  .col-md-8 img {
      margin-bottom: 15px;
  }

}
