body {
    min-height: 100vh;
}
.form-section, .logo-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-section img {
    max-width: 100%;
}
.form-container {
    max-width: 500px;
}
.btn:hover {
    background-color: #73aee9; /* Màu nền khi hover */
}

.btn:active {
    background-color: #000000; /* Màu nền khi nhấn vào */
}
.breadcrumb {
    background-color: transparent;
    font-size: 16px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #000000;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}


header {
    position: sticky; /* Giữ header ở trên cùng khi cuộn */
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: black; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Thêm margin dưới header */
}

footer {
    margin-top: 20px; /* Thêm margin trên footer để tạo khoảng cách */
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    flex: 1; /* Container chính chiếm hết không gian còn lại */
}

header a{
    color: #eaeaea;
}
header a:hover{
    color: #CC8C18;
    transform: scale(1.05);
}
html, body{
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(to right, #cf8517, #6d8484);
}

/* Css phần footer */


ul.list-unstyled {
    padding-left: 0;
}
ul.list-unstyled a:hover{
    color: #CC8C18;
}
li a{
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
}
ul.d-flex li:not(:last-child)::after { 
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.col-md-3.col-sm-12 {
    position: relative; 
    text-align: center;
    height: 180px;
}

.col-md-3.col-sm-12:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    padding-left: 15px; 
}

@media (max-width: 576px) {
    footer {
        padding:20px;
}

    .col-md-8.col-md-4 {
        text-align: center;
}
}

@media (max-width: 856px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .col-md-3.col-sm-12 {
        height: auto;
        padding: 10px 0;
        text-align: center;
    }

    .col-md-3.col-sm-12:not(:first-child) {
        border-left: none;
    }

    ul.list-unstyled.d-flex {
        flex-direction:row;
        align-items: center;
    }

    ul.list-unstyled.d-flex li {
        margin-bottom: 10px;
    }

    ul.list-unstyled.d-flex li:not(:last-child)::after {
        content: "";
        margin: 0;
    }
    
    .col-md-8, .col-md-4 {
        flex-direction: column;
        align-items: center;
    }

    .col-md-8 img {
        margin-bottom: 15px;
    }

}