body {
    font-family: sans-serif;
    background: #eaeaea;
    overflow-x: hidden;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 0; 
}

.profile-form {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 17%;
    top: 150px;
    padding: 20px;
    box-sizing: border-box;
    justify-items: center;
    width: 1000px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);}

p {
    margin-top: 0;
}

.form-container {
    width: 900PX;
    margin-left: 70px;
    font-size: 20px;
    align-items: center;
}

.form-group  {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 600px;
    position: relative;
}

label {
    display: flex;
    text-align: left;
    width: 40%;
    margin-left: 0;
}

.group-input input {
    width: 350px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px;
    padding: 5px;
    
}

.group-input a {
    margin-left: 10px;
    font-size: 15px;
}

.gender {
    display: flex;
    align-items: left;
}

.item-gender input {
    zoom: 1.4;
    accent-color: blue;
}

select {
    margin-right: 10px;
    width: 130px;
    height: 30px;
    font-size: 18px;
}

button {
    font-size: 20px;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: navy;
}

.edit {
    position: relative;
    left: 300px;
    top: 20px;
}

.log-out {
    position: relative;
    top: 90px;
    left: 43%;
}

#day {
    margin-left: 40px;
}

.btn:hover {
    background-color: #00509e; /* Màu nền khi hover */
}

.btn:active {
    background-color: #6fdff3; /* Màu nền khi nhấn vào */
}
.breadcrumb {
    list-style: none; /* Xóa kiểu đánh số */
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: 16px;
}

.breadcrumb-item {
    display: inline;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: " / "; /* Dấu phân cách giữa các mục breadcrumb */
    color: #6c757d; /* Màu của dấu phân cách */
}

.breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
    color: #0056b3; /* Màu khi hover vào breadcrumb */
}

