body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    padding: 0;
    margin: 0.1px;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 0; 
  }
body p{
    margin: 10px 0;
    display: flex;
}
.textTemplate{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 27px;
}
.weight2{
    font-weight: 600;
}
.textA{
    font-size: 24px;
}
.textColor{
    color: red;
}
.text1{
    font-size: 21px;
}
.text2{
    font-size: 18px;
}
.text3{
    font-size: 15px;
}
.framSearch{
    width: 1360px;
    background-color: rgb(236, 236, 236);
    margin: 0;
}
.containerSearch{
    width: 100%;
    display: flex;
    background-color:inherit;
    margin: 0;
    padding: 0;
}
.box1{
    padding: 10px 20px;
    background-color: rgb(236, 236, 236);
   /* border: 1px solid black;*/

}
.box2{
    background-color: inherit;
    flex:1 ;
}
.box2-container{
    display: flex;
    flex:1;
}
.boxStatusBookRoom{
    width: 300px;
    max-height: max-content;
    background-color: aqua;
    position: sticky;
    top:150px;
    margin: 0 20px;
}
.boxFlex{
    display: flex;
}
.boxfilter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#box-search{
    border-bottom: 1px solid black
}
.boxFilterPrice{
    display: flex;
    justify-content: space-around;
}
.boxPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}
#boxFilterPrice > p{
    margin: 0;
}
.boxPrice input{
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.boxPrice p{
    margin-bottom: 10px;
}
.boxPrice input{
    border: none;
    border-radius: 5px;
}
.boxButton{
    width: 100%;
    background-color: rgb(23, 99, 99);
    margin: 15px 0;
    margin-top: 30px;
}
.boxButton button{
    float: right;
}
.seButton{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: 19px;
}
.buttonChoseRoom{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: 19px; 
}
.distanceB{
    width: 300px;
}
.boxResult{
    margin-bottom: 20PX;
    flex:1;
}
.boxRoom{
    display: flex;
    margin-left: 25px;
    margin-bottom: 30px;
}
.image{
    width: 35%;
    height: 150px;
    background-color: aqua;
}
.image img{
    width: 100%;
    height: 100%;
}
.boxRoomNon{
    flex: 1;
    display: flex;
}
.boxRoomFlexNon{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.boxRoomFlexNon div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toolFilter{
    width: 100%;
}
#boxFilterTypeRoom{
    width: 100%;
}
#boxFilterTypeRoom >div > .boxFlex{
    margin-left: 10px;
}
.typeFilter{
    list-style: none;
    padding: 0;
}
.typeFilter li{
    padding-left: 20px;
}
.typeFilter li:hover {
    background-color: rgb(143, 143, 143);
}
#boxFilterPrice{
    display: none;
}
#boxFilterTypeRoom{
    display: none;
}
.fieldButtonOfchose{
    position: relative;
}
.deleteBookRoom{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
}
#doingBook{
    max-height: 100px;
    overflow-y: auto;
    background-color: yellow;
}
.containNonBook{
    margin-bottom: 10px;
}
.containNonBook:hover {
    background-color: yellow;
}
.numRoomChoseBook{
    width: 270px;
}
.breadcrumb {
    background-color: transparent;
    font-size: 16px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}