body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cột với kích thước bằng nhau */
    gap: 25px; /* Tăng khoảng cách giữa các cột */
}


.form-group {
    display: flex;
    flex-direction: column; /* Sắp xếp label và input theo chiều dọc */
    margin: 0 10px; /* Thêm khoảng cách trái và phải */
    align-items: center; /* Căn giữa nội dung trong cột */
}

/* Cụ thể hóa kích thước cho số ngày thuê và nút tìm phòng */
.form-group.size-small {
    grid-column: span 1; /* Chỉ chiếm 1 cột */
    width: 80%; /* Đặt chiều rộng */
}



label {
    margin-bottom: 5px;
    color: #555;
}

input[type="datetime-local"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%; /* Chiều rộng nút bằng 100% của cột */
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Đặt kích thước nhỏ hơn cho nút Tìm phòng */
button.small {
    width: auto; /* Đặt chiều rộng tự động cho nút tìm phòng */
}

button:hover {
    background-color: #0056b3;
}
